{% extends 'xbapp/template.html' %}
{% load sekizai_tags staticfiles bootstrap_tags %}

{% block contenido %}
	{% addtoblock 'css' %}
		<link rel="stylesheet" type="text/css" href="{% static 'xbapp/css/mapa.css' %}">
	{% endaddtoblock %}
	{% addtoblock 'js' %}
	<script type="text/javascript" language="javascript">
		$(document).ready(function(){
			$("#add-lugar-form input, #add-lugar-form select").addClass('form-control');
		});
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&libraries=geometry"></script>
		<script src="{% static 'xbapp/js/mapa.js' %}"></script>
		<script src="{% static 'xbapp/js/lugares.js' %}"></script>
	{% endaddtoblock %}
	<div class="row">
		<div class="col-md-12">
			<p class="lead">
				Selecciona en el mapa la ubicación del lugar que quieres registrar
			</p>
			<p>Puede ser un taller, un estaionamiento que admite bicicletas, una gasolinera u otro punto importante para tu labor como ciclista</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<form id="add-lugar-form" class="form-horizontal" method="post">
				{% csrf_token %}
				{% form_horizontal formulario %}
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">
						<input type="submit" value="Guardar" class="btn btn-success">
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<div id="map_canvas"></div>
		</div>
	</div>
{% endblock %}