{% extends 'xbapp/template.html' %}
{% load sekizai_tags staticfiles bootstrap_tags %}

{% block contenido %}
	{% addtoblock 'css' %}
		<link rel="stylesheet" type="text/css" href="{% static 'xbapp/css/mapa.css' %}">
	{% endaddtoblock %}

	{% addtoblock 'js' %}
	<script type="text/javascript" language="javascript">
		$(document).ready(function(){
			$("#add-lugar-form input, #add-lugar-form select").addClass('form-control');
		});
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&libraries=geometry"></script>
		<script src="{% static 'xbapp/js/mapa.js' %}"></script>
		<script src="{% static 'xbapp/js/lugares.js' %}"></script>
	{% endaddtoblock %}
	<div class="row">
		<div class="col-md-6">
			<form id="add-lugar-form" class="form-horizontal">
				{% csrf_token %}
				{% form_horizontal formulario %}
			</form>
		</div>
		<div class="col-md-6">
			<div id="map_canvas"></div>
		</div>
	</div>
{% endblock %}