{% extends 'xbapp/template.html' %}
{% load sekizai_tags staticfiles %}


{% block contenido %}
	<h1>Estadísticas</h1>
	<h2>Rutas registradas</h2>
	<p class="lead">{{ nrutas }}</p>
	<h2>Ciclistas por sexo</h2>
	<div class="row">
		<div class="col-md-12">
			<div class="progress">
  				<div class="progress-bar progress-bar-primary" style="width: {{ nhombres }}%">
    				<span class="sr-only">{{ nhombres }} % hombres </span>
  				</div>
  				<div class="progress-bar progress-bar-success" style="width: {{ nmujeres }}%">
    				<span class="sr-only">{{ nmujeres }} % mujeres</span>
  				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		<span class="label label-primary">Hombres {{ nhombres }} %</span>
		</div>
		<div class="col-md-6">
			<span class="label label-success">Mujeres {{ nmujeres }} % </span>
		</div>
	</div>
	<h2>Edad media</h2>
	<p class="lead">{{ edad_media }} años</p>
	<h2>Edades por rango</h2>
	{% for edad in edades %}
			<div class="row">
				<div class="col-md-4">
					<span class="label label-primary">{{ edad.rango }} Total:{{ edad.cantidad }} </span>
				</div>

				<div class="col-md-8">
					<div class="progress">
  						<div class="progress-bar progress-bar-primary" style="width: {{ edad.porcentaje }}%">
    						<span class="sr-only">{{ edad.porcentaje }}%</span>
  						</div>
					</div>
				</div>
			</div>
	{% endfor %}
{% endblock %}