{% extends 'xbapp/template.html' %}
{% load sekizai_tags staticfiles %}

{% block contenido %}
	{% addtoblock 'css' %}
		<link rel="stylesheet" type="text/css" href="{% static 'xbapp/css/mapa.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'xbapp/css/front.css' %}">	
		<link rel="stylesheet" type="text/css" href="{% static 'xbapp/css/reset.css' %}">
	{% endaddtoblock %}
	
	{% addtoblock 'js' %}
		<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&libraries=geometry"></script>
		<script src="{% static 'xbapp/js/mapa.js' %}"></script>
	{% endaddtoblock %}
	<div class="header">
		<div class="container">
				<div>
					<img class="col-md-3"src="{% static 'xbapp/images/logobicitacora.jpg' %}">
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-9"></div>
						<div class="col-md-3">
							<img src="{% static 'xbapp/images/ico-tw.png' %}">
							<img src="{% static 'xbapp/images/ico-fb.png' %}">
							<img src="{% static 'xbapp/images/ico-rss.png' %}">
						</div>
					</div>
				</div>	
				<div class="col-md-9 menu">
					<ul class="navi">
						<li>Proyecto</li>
						<li>Estadísticas</li>
						<li>Contacto</li>
					</ul>
				</div>
				<div class="col-md-9">
					<div class="title">
						Ayudanos a recolectar datos sobre tu bicicleta
					</div>
				</div>
		</div>
	</div>
	</div>
	

{% endblock %}