{% extends 'xbapp/template.html' %}
{% load sekizai_tags staticfiles %}

{% block subtitulo %}Conoce más sobre este proyecto{% endblock %}

{% block contenido %}
<div class="proyecto">
	<h1>Proyecto</h1>
	<p>
	Bicitácora es un proyecto de desarrollo, conducido en el marco de Desarrollando América Latina y el primer Hackatón de datos abiertos de Xalapa (#xackaton2013) celebrado el 26 y 27 de Octubre de 2013 en la Facultad de Estadística e Informática de la Universidad Veracruzana.
	</p>
	<p>
	El reto aceptado por el grupo de desarrolladores de Xalapa consistió en una aplicación para que los ciclistas pudieran registrar las rutas locales y puntos de interés (como talleres, tiendas o baches)
	al rodar por las calles de Xalapa, generando al mismo tiempo, datos estadísticos sobre el uso de la bicicleta como medio de transporte o esparcimiento.
	</p>
	<p>
	El proyecto consiste en dos partes; una plataforma web para la visualización de datos creada con el framework Django; y una aplicación para móviles creada en Android nativo que permite al usuario registrar sus recorridos en bicicleta y puntos de interés.
	</p>
	<p>
	El grupo de trabajo conformado por estudiantes y profesores de las facultades de matemáticas, estadística e informática y del Instituto de Investigaciones en Educación de la Universidad Veracruzana; así como del sector privado y social se reunió por 24 horas seguidas para realizar Bicitácora.
	</p>
	<p>
	<h2>Diseño y Programación de la aplicación</h2>
	<ul class="list_nombres">
		<li>Abraham Toriz Cruz, estudiante de la Facultad de Matemáticas</li>
		<li>Alejandro Maldonado Navarro, estudiante de la FEI</li>
		<li>Daniel García Alvarado, estudiante e la FEI</li>
		<li>Joel Humberto Gomez Paredes, egresado de la FEI</li>
		<li>Juan Luis López Herrera, profesor de la FEI</li>
		<li>Gerardo Contreras Vega, director de la FEI</li>
		<li>Oscar García López, programador de N3XAsec</li>
	</ul>
	</p>
	<p>
	<h2>Diseño gráfico</h2>
	<ul class="list_nombres">
		<li>Iván Mejía Fabela, integrante de la comunidad Drupal en México</li>
		<li>Victor Manuel Hernández Olivera, profesor de la FEI</li>
	</ul>
	</p>
	<p>
	<h2>Logística</h2>
	<ul class="list_nombres">
		<li>Alberto Ramírez Martinell, Investigador del Instituto de Investigaciones en Educación</li>
	</ul>
	</p>
</div>
{% endblock %}