{% load sekizai_tags staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block titulo %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'xbapp/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'xbapp/css/bootstrap-glyphicons.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'xbapp/css/toastr.min.css' %}">
		<link rel="stylesheet/less" type="text/css" href="{% static 'xbapp/less/theme.less' %}" />
		{% render_block "css" %}
		<script type="text/javascript" language="javascript" src="{% static 'xbapp/js/jquery-1.10.2.min.js' %}"></script>
	</head>
	<body>
		{% block contenido %}
		{% endblock %}
		<!-- javascript -->
		<script type="text/javascript" language="javascript" src="{% static 'xbapp/js/less-1.5.0.min.js' %}"></script>
		<script type="text/javascript" language="javascript" src="{% static 'xbapp/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" language="javascript" src="{% static 'xbapp/js/toastr.min.js' %}"></script>
		{% if messages %}
			<script type="text/javascript">
				{% for message in messages %}
					toastr.{{ message.tags }}('{{ message }}');
				{% endfor %}
			</script>
		{% endif %}
		{% render_block "js" %}
	</body>
</html>