{% load sekizai_tags staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block titulo %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'xbapp/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'xbapp/css/bootstrap-glyphicons.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'xbapp/css/toastr.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'xbapp/css/front.css' %}">
		{% render_block "css" %}
		<script type="text/javascript" language="javascript" src="{% static 'xbapp/js/jquery-1.10.2.min.js' %}"></script>
	</head>
	<body>
		<div class="header">
			<div class="container">
				<div class="col-md-3">
					<img class="logo" src="{% static 'xbapp/images/logobicitacora.jpg' %}">
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-9"></div>
						<div class="col-md-3">
							<img src="{% static 'xbapp/images/ico-tw.png' %}">
							<img src="{% static 'xbapp/images/ico-fb.png' %}">
							<img src="{% static 'xbapp/images/ico-rss.png' %}">
						</div>
					</div>
				</div>
				<div class="col-md-9 menu">
					<ul class="navi">
						<li>
							<a href="{% url 'xbapp.views.inicio' %}">Inicio</a>
						</li>
						<li>
							<a href="{% url 'xbapp.views.proyecto' %}">Proyecto</a>
						</li>
						<li>
							<a href="{% url 'xbapp.views.estadisticas' %}">Estadísticas</a>
						</li>
						<li>
							<a href="{% url 'xbapp.views.captura' %}">Captura</a>
						</li>
						<li>
							<a href="{% url 'xbapp.views.contacto' %}">Contacto</a>
						</li>
					</ul>
				</div>
				<div class="col-md-9">
					<div class="title">
						{% block subtitulo %}Ayudanos a recolectar datos sobre como usas tu bicicleta{% endblock %}
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="col-md-9">
					{% block contenido %}
					{% endblock %}
				</div>
				<div class="col-md-3">
					<div class="formulario">
						{% if not user.is_authenticated %}
							<form action="{% url 'xbapp.views.login' %}" method="post">
								{% csrf_token %}
								<div class="bold subtitle">Registrate</div>
								<label for="correo">Correo:</label>
								<input id="correo" type="text" name="correo">
								<label for="password">Contraseña:</label>
								<input id="password" type="password" name="password">
								<input class="bigboton" type="submit" value="Participar">
							</form>
						{% else %}
							<strong>{{ request.user.ciclista }}</strong><br>
							<strong><a href="{% url 'xbapp.views.perfil' %}">perfil</a></strong><br>
							<strong><a href="{% url 'xbapp.views.logout' %}">salir</a></strong>
						{% endif %}
					</div>
					<div class="parraf">Ayudanos a recolectar datos sobre el uso de la bicicleta</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<ul class="navf">
					<li>Proyecto</li>
				    <li>Estadísticas</li>
					<li>Contacto</li>
				</ul>
			</div>
		</div>

		<!-- javascript -->
		<script type="text/javascript" language="javascript" src="{% static 'xbapp/js/less-1.5.0.min.js' %}"></script>
		<script type="text/javascript" language="javascript" src="{% static 'xbapp/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" language="javascript" src="{% static 'xbapp/js/toastr.min.js' %}"></script>
		{% if messages %}
			<script type="text/javascript">
				toastr.options = {
					"closeButton": true,
					"positionClass": "toast-top-full-width",
				}
				{% for message in messages %}
					toastr.{{ message.tags }}('{{ message }}');
				{% endfor %}
			</script>
		{% endif %}
		{% render_block "js" %}
	</body>
</html>