@font-face
{
 font-family: 'OpenSans';
 src: url('./fonts/OpenSans-Regular.ttf');
}
@font-face
{
 font-family: 'OpenSans-Light';
 src: url('./fonts/OpenSans-Light.ttf');
}
@font-face
{
 font-family: 'OpenSans-Bold';
 src: url('./fonts/OpenSans-Bold.ttf');
}

.bold{
	font-family: OpenSans-Bold;
}

.header{
	padding-top:10px;
}
.navi {  
	list-style:none;
	margin:0;
	padding:0;
}
.navi li {
	margin:0;
	padding:10px 15px 10px 15px;
	font-weight:bold;
	font-size: 19px;
	float:left; 
}
.navf {  
	list-style:none;
	margin:0;
	padding:0;
}
.navf li {
	margin:0;
	padding:10px 15px 10px 15px;
	font-weight:bold;
	font-size: 19px;
	float:left; 
}
.navf li:hover {
	color:#000;
}
.subnavi li {
	margin:0;
	padding:10px 15px 10px 15px;
	font-weight:bold;
	font-size: 19px;
	float:left; 
}
.subnav li {
	color:#fff;
	text-align: center;
	background-color: #cbcbcb;
	margin:0;
	min-width: 270px;
	padding:10px 15px 10px 15px;
	font-weight:bold;
	font-size: 16px;
	float:left; 
}
.subnav li:hover{
	background-color: #ffdf01;
}
.navi li:hover{
	background-color: #000;
}
.menu {
	font-family: OpenSans;
	margin-top:40px;
	margin-bottom:40px;
	margin-left:-50px;
	color:#FFF;
	background-color: #ee4024;
}
.title{
	font-family: OpenSans-Light;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	margin-left:-100px;

}
.content{
	margin-top:40px;
}
.formulario{
	background-color:#676767;
	width: 230px; 
	padding-left:40px;
	padding-right: 40px;
	padding-top:10px;
	color:#fff;
	padding-bottom: 10px;
}
.subtitle{
	font-size: 22px;
}
.formulario input{
    width: 100%;
	border: #000 1px solid;
	margin-bottom:7px;
}
.formulario label{
	padding-top:10px;
	padding-bottom:7px;
	font-size: 18px;
}
.bigboton{
    font-family: OpenSans-Bold;
	width: 100%;
	background-color: #444444;
	color:#fff;
	font-size: 16px;
	margin-top:20px;
	padding:5px;
}
.parraf{
	font-family: OpenSans;
	padding: 10px;
	font-size: 20px;
}
.footer .container {
	font-family: OpenSans;
	margin-top:25px;
	background-color: #cccccc;
}